Jalal Uddin - CSharpAssignment/Source/Crossover.TechTrial.StockExchange/StockMarketApp/Service References/StockDataService/StockData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.stockdataexpert.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.stockdataexpert.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.stockdataexpert.com/">
      <s:element name="StockPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pubicKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stockCodes" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StockPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StockPriceSoapIn">
    <wsdl:part name="parameters" element="tns:StockPrice" />
  </wsdl:message>
  <wsdl:message name="StockPriceSoapOut">
    <wsdl:part name="parameters" element="tns:StockPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="StockDataSoap">
    <wsdl:operation name="StockPrice">
      <wsdl:input message="tns:StockPriceSoapIn" />
      <wsdl:output message="tns:StockPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockDataSoap" type="tns:StockDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockPrice">
      <soap:operation soapAction="http://www.stockdataexpert.com/StockPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockDataSoap12" type="tns:StockDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockPrice">
      <soap12:operation soapAction="http://www.stockdataexpert.com/StockPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockData">
    <wsdl:port name="StockDataSoap" binding="tns:StockDataSoap">
      <soap:address location="http://localhost:34651/StockData.asmx" />
    </wsdl:port>
    <wsdl:port name="StockDataSoap12" binding="tns:StockDataSoap12">
      <soap12:address location="http://localhost:34651/StockData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>